---
---

@import '{{ site.theme }}';

/* three.js session */
.threejs {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
  }
  .threejs > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  /* fixed aspect ratio */
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > * {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  /* dat.gui.js */
  .dat-gui {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .dg {
    padding: 0; /* overwrite padding of .main */
  }
  

/* time line css */

.experience {

  border-left: 3px solid #066933;
  padding: 0 30px;
  margin-left: 185px;
  @media (max-width: 767px) {
    margin-left: 0;
    padding-right: 0;
  }
  .item {
    position: relative;
    margin-bottom: 40px;
    // &::before {
    //   @include round-btn(-43px, 0, 22px, 22px, #ffffff);
    //   border: 3px solid  #066933;
    // }
    // &::after {
    //   @include round-btn(-37px, 6px, 10px, 10px, #066933);
    // }
  }
  .company-name {
    color: #066933;
  }
  .location {
    position: absolute;
    right: 0;
    top: 2px;
    .fa {
      margin-right: 8px;
    }
  }
  .job-info {
    position: absolute;
    left: -185px;
    top: 0;
    .title {
      color: #066933;
    }
    @media (max-width: 767px) {
      position: static;
      margin-bottom: 1rem;
    }
  }
}

/* append your custom style below */
