@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType-Medium.eot');
    src: url('BrutalType-Medium.eot?#iefix') format('embedded-opentype'),
        url('BrutalType-Medium.woff2') format('woff2'),
        url('BrutalType-Medium.woff') format('woff'),
        url('BrutalType-Medium.svg#BrutalType-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType-Bold.eot');
    src: url('BrutalType-Bold.eot?#iefix') format('embedded-opentype'),
        url('BrutalType-Bold.woff2') format('woff2'),
        url('BrutalType-Bold.woff') format('woff'),
        url('BrutalType-Bold.svg#BrutalType-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType-ExtraLight.eot');
    src: url('BrutalType-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('BrutalType-ExtraLight.woff2') format('woff2'),
        url('BrutalType-ExtraLight.woff') format('woff'),
        url('BrutalType-ExtraLight.svg#BrutalType-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType-Black.eot');
    src: url('BrutalType-Black.eot?#iefix') format('embedded-opentype'),
        url('BrutalType-Black.woff2') format('woff2'),
        url('BrutalType-Black.woff') format('woff'),
        url('BrutalType-Black.svg#BrutalType-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType.eot');
    src: url('BrutalType.eot?#iefix') format('embedded-opentype'),
        url('BrutalType.woff2') format('woff2'),
        url('BrutalType.woff') format('woff'),
        url('BrutalType.svg#BrutalType') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType-ExtraBold.eot');
    src: url('BrutalType-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('BrutalType-ExtraBold.woff2') format('woff2'),
        url('BrutalType-ExtraBold.woff') format('woff'),
        url('BrutalType-ExtraBold.svg#BrutalType-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType-Thin.eot');
    src: url('BrutalType-Thin.eot?#iefix') format('embedded-opentype'),
        url('BrutalType-Thin.woff2') format('woff2'),
        url('BrutalType-Thin.woff') format('woff'),
        url('BrutalType-Thin.svg#BrutalType-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType-Light.eot');
    src: url('BrutalType-Light.eot?#iefix') format('embedded-opentype'),
        url('BrutalType-Light.woff2') format('woff2'),
        url('BrutalType-Light.woff') format('woff'),
        url('BrutalType-Light.svg#BrutalType-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

